.banner {
  background-image: url(../../../public/banner2.jpg);
}
.bannerContent {
  height: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  justify-content: space-around;
}
.tagline {
  display: flex;
  height: "40%";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
